# aliases

# folders
alias home="cd $HOME"
alias work="cd $PROJECT_HOME"
alias drp="cd $HOME/Dropbox"
alias dwl="cd $HOME/Downloads"
alias doc="cd $HOME/Documents"
alias pic="cd $HOME/Pictures"
alias mov="cd $HOME/Movies"
alias mus="cd $HOME/Music"
alias ckc="cd $HOME/.cookiecutters"

# list
alias l="ls -a"
alias ls='ls -G'
alias lsh='ls -sh'
alias la="ls -la"
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# git
alias gcl="git ls-files | xargs wc -l"

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# python
alias ipy3="ipython3"
alias ipy="ipython"
alias py3="python3"
alias pyt="python"

# python/django
alias pym="python manage.py"
alias pymm="python manage.py migrate"
alias pymr="python manage.py runserver"
alias pyms="python manage.py shell"
alias pymt="python manage.py test"
alias pymapp="touch __init__.py admin.py models.py tests.py views.py urls.py"
alias pipin='pip install'
alias pipf='pip freeze'
alias asjson='python -m json.tool'

# git
alias gpush='git push origin master'
alias gpull='git pull --ff-only origin master'

# ohmyzsh
alias ohmyzsh="subl ~/.oh-my-zsh"
alias zshcfg="subl ~/.zshrc"

# apps
alias elastic="elasticsearch --config=/usr/local/opt/elasticsearch/config/elasticsearch.yml"
alias rabbit="rabbitmq-server"
alias redis="redis-server /usr/local/etc/redis.conf"
alias va="vagrant"
alias vash="vagrant ssh"
alias vashc="vagrant ssh-config"

# utils
alias c="clear"
alias clipboard='pbcopy'
alias top='htop'
alias youtube='youtube-dl -t'
alias psg='ps aux | grep'
alias ports='sudo lsof -i -P | grep -i "listen"'
alias disk_usage='df -h'
alias ducks='du -cks * | sort -rn | head -n 10'
alias duha='du -ha * | sort -rn | head -n 10'
alias ipext='dig +short myip.opendns.com @resolver1.opendns.com'
