# aliases

# folders
alias home="cd $HOME"
alias work="cd $PROJECT_HOME"
alias dr="cd $HOME/Dropbox"
alias dl="cd $HOME/Downloads"
alias docs="cd $HOME/Documents"

# list
alias la="ls -la"
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# python
alias ipy3="ipython3"
alias ipy="ipython"
alias py3="python3"
alias py="python"

# ohmyzsh
alias ohmyzsh="subl ~/.oh-my-zsh"
alias zshcfg="subl ~/.zshrc"

# utils
alias clipboard='pbcopy'
