# aliases

# folders
alias home="cd $HOME"
alias work="cd $PROJECT_HOME"
alias dr="cd $HOME/Dropbox"
alias dl="cd $HOME/Downloads"
alias docs="cd $HOME/Documents"

# list
alias ls='ls -G'
alias la="ls -la"
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# git
alias gcl="git ls-files | xargs wc -l"

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# python
alias ipy3="ipython3"
alias ipy="ipython"
alias py3="python3"
alias py="python"


# ohmyzsh
alias ohmyzsh="subl ~/.oh-my-zsh"
alias zshcfg="subl ~/.zshrc"

# utils
alias clipboard='pbcopy'
alias top='htop'
alias youtube='youtube-dl -t'
alias ports='sudo lsof -i -P | grep -i "listen"'
