[user]
    name = Arthur Alvim
    email = afmalvim@gmail.com
[core]
    editor = subl -w
    autocrlf = input
    excludesfile = ~/.global_ignore
[color]
    ui = true
[commit]
    template = ~/.dotfiles/git/git-commit-template.txt
[github]
    user = arthuralvim
[init]
    templatedir = ~/.dotfiles/git/init_template
[merge]
	ff = only
[alias]
    blist = branch -l
    ga = add -A :/
    gb = branch
    gc = commit
    gcv = commit --no-verify
    go = checkout
    logmr = log --oneline --decorate --all --graph HEAD..origin/master
    logo = log --oneline --decorate --all --graph
    logof = log --oneline --name-only --decorate --all --graph
    logor = log --reverse --oneline --decorate --all
    pushall = push --recurse-submodules=on-demand
    s = status -s
