[user]
    name = Arthur Alvim
    email = afmalvim@gmail.com
[core]
    editor = code --wait
    autocrlf = input
    excludesfile = $HOME/.global_gitignore
    pager = cat
[color]
    ui = true
[web]
  browser = google-chrome
[github]
    user = arthuralvim
[merge]
	ff = only
    tool = meld
[alias]
    c = commit
    call = commit -A :/
    ca = commit --amend
    cm = commit -m
    cam = commit --amend -m
    cnv = commit --no-verify
    d = diff
    dc = diff --cached
    brl = branch -l
    logmr = log --oneline --decorate --all --graph HEAD..origin/master
    logo = log --oneline --decorate --all --graph
    logof = log --oneline --name-only --decorate --all --graph
    logor = log --reverse --oneline --decorate --all
    tree = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
    pushall = push --recurse-submodules=on-demand
    s = status -s
[credential]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[pager]
    branch = false
