# aliases

# folders
alias home="cd $HOME"
alias work="cd $PROJECT_HOME"
alias drp="cd $HOME/Dropbox"
alias dwl="cd $HOME/Downloads"
alias doc="cd $HOME/Documents"
alias pic="cd $HOME/Pictures"
alias mov="cd $HOME/Movies"
alias mus="cd $HOME/Music"
alias ckc="cd $HOME/.cookiecutters"

# list
alias l="ls -a"
alias ls='ls -G'
alias lsh='ls -sh'
alias la="ls -lha"
alias lsd='ls -l | grep "^d"'

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# python
alias ipy="ipython"
alias ipy3="ipython3"
alias pyt="python"
alias py3="python3"
alias pipin='pip install'
alias pipf='pip freeze'
alias asjson='python -m json.tool'
alias pyserver='python -m SimpleHTTPServer'
alias delpyc='find . -iname "*.pyc" -exec rm {} \; ; find . -type d -iname __pycache__ -exec rm -r {} \;'

# python/django
alias pym="python manage.py"
alias pymm="python manage.py migrate"
alias pymr="python manage.py runserver"
alias pyms="python manage.py shell"
alias pymt="python manage.py test"
alias pymod="touch __init__.py admin.py models.py tests.py views.py urls.py"

# ansible
alias ag="ansible-galaxy"

# vagrant
alias vaup="vagrant up"
alias vaha="vagrant halt"
alias vapro="vagrant provision"
alias vade="vagrant destroy"
alias vast="vagrant status"
alias vash="vagrant ssh"
alias vashc="vagrant ssh-config"
alias valist="vagrant box list"

# ruby
alias sgi='sudo gem install --no-ri --no-rdoc'

# git
alias gpush='git push origin master'
alias gpull='git pull --ff-only origin master'
alias gcl="git ls-files | xargs wc -l"

# ohmyzsh
alias ohmyzsh="subl ~/.oh-my-zsh"
alias zshcfg="subl ~/.zshrc"

# apps
alias elastic="elasticsearch --config=/usr/local/opt/elasticsearch/config/elasticsearch.yml"
alias rabbit="rabbitmq-server"
alias nginx_test="nginx -c /etc/nginx/nginx.conf -t"
alias redis="redis-server /usr/local/etc/redis.conf"
alias mongorun='mongod --config /usr/local/Cellar/mongodb/2.0.1-x86_64/mongod.conf &'

# npm
alias nt='npm test'
alias np='npm publish'
alias nrb='npm run build'
alias nrc='npm run cover'
alias nrr='npm run report'
alias ni='npm install'
alias nis='npm install --save'
alias nisd='npm install --save-dev'
alias nig='npm install -g'
alias nd='node-debug'
alias nm='nodemon'
alias ndm='node-debug node_modules/.bin/_mocha'
alias nu='npm update'
alias nug='npm update -g'
alias ns='npm start'

# bower
alias bi='bower install'
alias bu='bower update'
alias bug='bower install -g'
alias bis='bower install --save'
alias bisd='bower install --save-dev'
alias bp='bower register'

# grunt
alias gr='grunt'
alias grb='grunt build'
alias grbs='grunt build:stage'
alias grbp='grunt build:production'
alias grds='grunt deploy:stage'
alias grdp='grunt deploy:production'

# gulp
alias gub='gulp build'
alias gur='gulp release'

# jekyll
alias jky='jekyll serve -w'

# networking
alias ipext='dig +short myip.opendns.com @resolver1.opendns.com'

if [[ $platform == 'linux' ]]; then
  alias procports='netstat -tulpn'
elif [[ $platform == 'darwin' ]]; then
  alias procports='lsof -nPi -sTCP:LISTEN'
  "lsof -i tcp:${PORT_NUMBER} | awk 'NR!=1 {print $2}' | xargs kill"
fi

alias ssh-pub-key='cat $HOME/.ssh/id_rsa.pub'

# wheater
alias weather-nyc='curl "http://wttr.in/New+York"'
alias weather-rec='curl "http://wttr.in/Recife"'

# env
alias show-env-vars='printenv'

# utils
alias o="open"
alias -g gp='| grep -i'
alias rm='rm -i'
alias usuarios="cut -d: -f1 /etc/passwd"
alias c="clear"
alias clipboard='pbcopy'
alias top='htop'
alias youtube='youtube-dl -t'
alias psg='ps aux | grep'
alias ports='sudo lsof -i -P | grep -i "listen"'
alias cls='clear;ls'

# disk
alias disk_usage='df -h'
alias dush='du -sh'
alias ducks='du -cks * | sort -rn | head -n 10'
alias duha='du -ha * | sort -rn | head -n 10'

# compress
alias tf='tail -f'
alias gz='tar -zcvf'

# kill
alias ka9='killall -9'
alias k9='kill -9'

# dns
alias clear-dns-cache="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# homebrew
alias brewdo="brew doctor"
alias brewin="brew install"
alias brewun="brew uninstall"
alias brewse="brew search"
alias brewcl="brew cleanup && brew cask cleanup"
alias brewup="brew update && brew upgrade --all"

eval "$(thefuck --alias)"

# services
# init-checkconf /etc/init/job.conf
# initctl list
