# functions

DOTFILES_DIR="$HOME/.dotfiles"

function datedir(){
    echo `date '+%Y-%m-%d'`
    mkdir `date '+%Y-%m-%d'`
}

# kill process based on a file with its pid.
function kfpid {
    if [ -z "$1" ]; then
        echo "Digite o caminho para o arquivo com o pid."
    else
        kill $(cat $1)
    fi
}

# kill a group of pids based on a query.
function kgpid {
    if [ -z "$1" ]; then
        echo "type the query."
    else
        ps auxww | grep $1 | awk '{print $2}' | xargs kill -9
    fi
}

# create a django project using my project template
make_django_project(){
    django-admin.py startproject --template=https://github.com/arthuralvim/django-boot-template/archive/master.zip --extension=py,env,html,gitignore --name=Procfile,Makefile $1
}

# create a django app using my app template
make_django_app(){
    django-admin.py startapp --template=https://github.com/arthuralvim/django-app-template/archive/master.zip --extension=py,env,html,gitignore --name=Procfile,Makefile $1
}

# create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

function gerar_chave_ssh() {
    ssh-keygen -t rsa -b 4096 -C "afmalvim@gmail.com"
}

function install_oh_my_zsh() {

    # check if oh_my_zsh is installed

    # sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"

    if [ $# -eq 0 ]; then
        echo "true"
    else
        echo "false"
    fi

    # check if zsh is default shell

    # chsh -s /bin/zsh

    if [ $# -eq 0 ]; then
        echo "true"
    else
        echo "false"
    fi
}

function install_sublime_settings() {
    rsync -vazh --partial $DOTFILES_DIR/sublime-preferences/ $HOME/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/
}

function install_python_packages() {
    sudo pip install -r PipPackages
    sudo chown $USER $HOME/.pip
}

function remove_dotfiles_settings() {
    for file in {aliases,bash_profile,bashrc,cookiecutterrc,exports,extra,functions,gitconfig,gitignore,global_gitignore,vimrc,zshrc};
    do
        if [ -f $HOME/.$file ]; then
            echo "removing $HOME/.$file"
            rm $HOME/.$file
        fi
    done
    unset file
}

function install_dotfile_settings() {
    for file in {aliases,bash_profile,bashrc,cookiecutterrc,exports,extra,functions,gitconfig,gitignore,global_gitignore,vimrc,zshrc};
    do
        if [ -L $HOME/.$file ]; then
            echo "updating $HOME/.$file"
            rm $HOME/.$file
            ln -s $DOTFILES_DIR/.$file $HOME/.$file
        else
            echo "sending $HOME/.$file"
            ln -s $DOTFILES_DIR/$file $HOME/.$file
        fi
    done
    unset file
}

function install_vim_settings() {
    vim +NeoBundleInstall +qall
}

function set_basic_permissions() {
    sudo chown $USER .pip
}


pipsi-upgrade() {
        for i in $(ls .local/venvs)
        do
                .local/venvs/$i/bin/pip install -U pip wheel
                pipsi upgrade $i
        done
}
